In [1]:
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd
import seaborn as sns
%matplotlib inline
%reload_ext autoreload
%autoreload 2
plt.style.use('seaborn-whitegrid')
import numpy as np
import os

In [2]:
pd.set_option('display.max_columns', None)

In [13]:
files = [file for file in os.listdir('../data/')]

all_data = pd.DataFrame()

for file in files:
    if file == '.ipynb_checkpoints':
        continue 
    monthlyfc = pd.read_csv('../data/'+file)
    all_data = pd.concat([all_data, monthlyfc])

In [14]:
 all_data.head(15)

,State / Indian Tribe,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,year,amount,inflation rate,Year,Women,Infants,Children,Total,Food Costs,NSA* Costs,AVG Food Cost,State,16-Feb,Jan-17 Prelim,Feb-17 Initial,% Change vs Jan-17,% Change vs Feb-16,YEAR
0,Alabama,49.87,46.59,45.19,48.34,45.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,53.74,50.48,54.64,52.61,52.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,70.18,69.41,70.52,72.94,74.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,42.16,42.88,44.09,45.55,44.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,45.79,46.51,43.9,43.81,43.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,49.35,46.05,47.21,47.8,46.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,40.56,40.61,40.99,41.36,41.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,52.19,42.25,46.22,48.04,43.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,40.85,37.85,40.07,40.55,40.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,District of Columbia,44.02,45.18,42.66,44.01,42.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Florida,44.61,44.62,43.8,42.17,42.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Georgia,56.06,45.47,40.82,40.03,39.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Guam,69.57,74.1,77.47,78.62,77.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Hawaii,53.7,51.97,53.1,51.38,53.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Idaho,36.84,36.83,36.19,35.28,34.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

monthlyfc = pd.read_csv('../data/Monthly_clean.csv')
monthlyfc = monthlyfc.reset_index(drop=True)
monthlyfc.head(15)

In [ ]:
monthlyfc.info()

In [ ]:
monthlyfc.columns

In [ ]:
monthlyfc.describe

In [ ]:
inflation = pd.read_csv('../data/inflation_data.csv')
inflation = inflation.reset_index(drop=True)
inflation.head()

In [ ]:
eat = pd.read_csv('../data/Yearly_clean.csv')
eat = eat.reset_index(drop=True)
eat.head(5)

In [ ]:
avgfc = pd.read_csv('../data/avg monthly benefit per person state_clean.csv')
avgfc = avgfc.reset_index(drop=True)
avgfc.head(10)

In [ ]:
foodcost = pd.read_csv('../data/State_clean.csv')
foodcost = foodcost.reset_index(drop=True)
foodcost.head()

In [ ]:
type(foodcost)

In [ ]:
foodcost.columns

In [ ]:
x = ['Jan-17 Prelim', 'Feb-17 Initial']
y = ['% Change vs Jan-17', '% Change vs Feb-16']
z = ['16-Feb', 'State']
plt.plot(x, y)
plt.plot(x, z)
plt.title('testplot')
plt.xlabel('Prelim')
plt.ylabel('Percent Change')
plt.legend(['this is y', 'this is z'])
plt.show

FoodInflation = pd.concat([eat, inflation])
FoodInflation.head(20)

FoodInflation.index = pd.DatetimeIndex(FoodInflation.index)
FoodInflation = FoodInflation.reset_index(drop=True)

In [ ]:
avgfc.hist(bins=25, figsize=[20, 10])

In [ ]:
x = np.linspace(0, 10, 30)
y = np.sin(x)

plt.plot(x, y, 'o', color='gray',
         markersize=15, linewidth=4,
         markerfacecolor='white',
         markeredgecolor='gray',
         markeredgewidth=2)
plt.ylim(-1.2, 1.2)
plt.xlabel(avgfc.FY2012[0])
plt.ylabel(avgfc.state[1]);

#FoodInflation[['amount', 'year', 'inflation rate']].plot(style=".")

In [ ]:
inflation.groupby(['year', 'amount'])['inflation rate'].count().sort_values(ascending=False).unstack()