In [1]:
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd
import seaborn as sns
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
happiness = pd.read_csv('../data/world-happiness-report-2021.csv')
happiness = happiness.reset_index(drop=True)
happiness.head(15)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.400,0.929,0.134,0.242,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.300,0.908,0.042,0.481,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784
10,Australia,North America and ANZ,7.183,0.041,7.265,7.102,10.796,0.940,73.900,0.914,0.159,0.442,2.43,1.453,1.076,0.801,0.647,0.291,0.317,2.598
11,Israel,Middle East and North Africa,7.157,0.034,7.224,7.090,10.575,0.939,73.503,0.800,0.031,0.753,2.43,1.376,1.074,0.788,0.509,0.208,0.119,3.083
12,Germany,Western Europe,7.155,0.040,7.232,7.077,10.873,0.903,72.500,0.875,0.011,0.460,2.43,1.480,0.993,0.757,0.600,0.195,0.306,2.824
13,Canada,North America and ANZ,7.103,0.042,7.185,7.021,10.776,0.926,73.800,0.915,0.089,0.415,2.43,1.447,1.044,0.798,0.648,0.246,0.335,2.585
14,Ireland,Western Europe,7.085,0.040,7.164,7.006,11.342,0.947,72.400,0.879,0.077,0.363,2.43,1.644,1.092,0.753,0.606,0.238,0.367,2.384

In [3]:
depression = pd.read_csv('../data/share-with-depression.csv')
depression = depression.reset_index(drop=True)
depression.head(15)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,5.125291
1,Afghanistan,AFG,1991,5.116306
2,Afghanistan,AFG,1992,5.106558
3,Afghanistan,AFG,1993,5.100328
4,Afghanistan,AFG,1994,5.099424
5,Afghanistan,AFG,1995,5.098495
6,Afghanistan,AFG,1996,5.100580
7,Afghanistan,AFG,1997,5.105474
8,Afghanistan,AFG,1998,5.113707
9,Afghanistan,AFG,1999,5.120480
10,Afghanistan,AFG,2000,5.124827
11,Afghanistan,AFG,2001,5.121707
12,Afghanistan,AFG,2002,5.115216
13,Afghanistan,AFG,2003,5.106108
14,Afghanistan,AFG,2004,5.101325

In [4]:
prevdep = pd.read_csv('../data/prevalence-of-depression-males-vs-females.csv')
prevdep = prevdep.reset_index(drop=True)
prevdep.head(15)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN
5,Afghanistan,AFG,1994,4.306053,5.843623,17075728.0,NaN
6,Afghanistan,AFG,1995,4.307069,5.843231,18110662.0,NaN
7,Afghanistan,AFG,1996,4.309518,5.846326,18853444.0,NaN
8,Afghanistan,AFG,1997,4.313820,5.851590,19357126.0,NaN
9,Afghanistan,AFG,1998,4.318713,5.859476,19737770.0,NaN
10,Afghanistan,AFG,1999,4.320813,5.865884,20170847.0,NaN
11,Afghanistan,AFG,2000,4.323996,5.868994,20779957.0,NaN
12,Afghanistan,AFG,2001,4.324070,5.865986,21606992.0,NaN
13,Afghanistan,AFG,2002,4.325468,5.859884,22600774.0,NaN
14,Afghanistan,AFG,2003,4.324686,5.848194,23680871.0,NaN

In [8]:
feelings = pd.concat([happiness, depression])
feelings.head(15)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,...,1.106,0.741,0.691,0.124,0.481,3.253,NaN,NaN,NaN,NaN
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,...,1.108,0.763,0.686,0.208,0.485,2.868,NaN,NaN,NaN,NaN
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,...,1.079,0.816,0.653,0.204,0.413,2.839,NaN,NaN,NaN,NaN
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,...,1.172,0.772,0.698,0.293,0.170,2.967,NaN,NaN,NaN,NaN
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,...,1.079,0.753,0.647,0.302,0.384,2.798,NaN,NaN,NaN,NaN
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,...,1.108,0.782,0.703,0.249,0.427,2.580,NaN,NaN,NaN,NaN
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,...,1.062,0.763,0.685,0.244,0.448,2.683,NaN,NaN,NaN,NaN
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,...,1.003,0.760,0.639,0.166,0.353,2.653,NaN,NaN,NaN,NaN
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.400,0.929,...,1.094,0.785,0.665,0.276,0.445,2.612,NaN,NaN,NaN,NaN
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.300,0.908,...,1.062,0.782,0.640,0.215,0.292,2.784,NaN,NaN,NaN,NaN
10,Australia,North America and ANZ,7.183,0.041,7.265,7.102,10.796,0.940,73.900,0.914,...,1.076,0.801,0.647,0.291,0.317,2.598,NaN,NaN,NaN,NaN
11,Israel,Middle East and North Africa,7.157,0.034,7.224,7.090,10.575,0.939,73.503,0.800,...,1.074,0.788,0.509,0.208,0.119,3.083,NaN,NaN,NaN,NaN
12,Germany,Western Europe,7.155,0.040,7.232,7.077,10.873,0.903,72.500,0.875,...,0.993,0.757,0.600,0.195,0.306,2.824,NaN,NaN,NaN,NaN
13,Canada,North America and ANZ,7.103,0.042,7.185,7.021,10.776,0.926,73.800,0.915,...,1.044,0.798,0.648,0.246,0.335,2.585,NaN,NaN,NaN,NaN
14,Ireland,Western Europe,7.085,0.040,7.164,7.006,11.342,0.947,72.400,0.879,...,1.092,0.753,0.606,0.238,0.367,2.384,NaN,NaN,NaN,NaN

In [10]:
feelings.rename(columns={'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)': 'Prevalence- depressive orders - sexs and age precentage'}, inplace=True)

In [12]:
feelings.groupby(['Country name', 'Healthy life expectancy'])['Prevalence- depressive orders - sexs and age precentage'].count().sort_values(ascending=False)

Country name               Healthy life expectancy
Afghanistan                52.493                     0
Namibia                    56.799                     0
Netherlands                72.400                     0
New Zealand                73.400                     0
Nicaragua                  67.657                     0
                                                     ..
Haiti                      55.700                     0
Honduras                   67.300                     0
Hong Kong S.A.R. of China  76.820                     0
Hungary                    68.000                     0
Zimbabwe                   56.201                     0
Name: Prevalence- depressive orders - sexs and age precentage, Length: 149, dtype: int64

In [13]:
feelings.groupby(['Country name', 'Healthy life expectancy'])['Prevalence- depressive orders - sexs and age precentage'].count().sort_values(ascending=False).unstack()

Healthy life expectancy,48.478,48.700,50.102,50.114,50.833,51.651,51.969,52.493,53.400,53.515,...,73.503,73.800,73.898,73.900,74.000,74.400,74.700,75.100,76.820,76.953
Country name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
substance = pd.read_csv('../data/prevalence-by-mental-and-substance-use-disorder.csv')
substance = substance.reset_index(drop=True)
substance.head(15)

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779
5,Afghanistan,AFG,1995,0.224713,0.716686,0.111129,4.780851,0.428578,5.098495,0.445422
6,Afghanistan,AFG,1996,0.223690,0.716388,0.107786,4.777272,0.426393,5.100580,0.444837
7,Afghanistan,AFG,1997,0.222424,0.716143,0.103931,4.775242,0.423720,5.105474,0.443938
8,Afghanistan,AFG,1998,0.221129,0.716139,0.100343,4.777377,0.422491,5.113707,0.442665
9,Afghanistan,AFG,1999,0.220065,0.716323,0.097946,4.782067,0.421215,5.120480,0.441428
10,Afghanistan,AFG,2000,0.219501,0.716534,0.097080,4.785518,0.421224,5.124827,0.440410
11,Afghanistan,AFG,2001,0.219364,0.716627,0.096772,4.785868,0.426006,5.121707,0.439875
12,Afghanistan,AFG,2002,0.219375,0.716727,0.097105,4.785127,0.438233,5.115216,0.439562
13,Afghanistan,AFG,2003,0.219441,0.717083,0.097354,4.788510,0.453639,5.106108,0.438900
14,Afghanistan,AFG,2004,0.219580,0.717538,0.097993,4.793161,0.469775,5.101325,0.438382

In [6]:
mental = pd.read_csv('../data/share-with-mental-and-substance-disorders.csv')
mental = mental.reset_index(drop=True)
mental.head(15)

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,16.659229
1,Afghanistan,AFG,1991,16.765052
2,Afghanistan,AFG,1992,16.874469
3,Afghanistan,AFG,1993,16.990720
4,Afghanistan,AFG,1994,17.112730
5,Afghanistan,AFG,1995,17.236307
6,Afghanistan,AFG,1996,17.390301
7,Afghanistan,AFG,1997,17.570980
8,Afghanistan,AFG,1998,17.748169
9,Afghanistan,AFG,1999,17.881631
10,Afghanistan,AFG,2000,17.939269
11,Afghanistan,AFG,2001,17.933525
12,Afghanistan,AFG,2002,17.916547
13,Afghanistan,AFG,2003,17.889702
14,Afghanistan,AFG,2004,17.859903

In [7]:
disease = pd.read_csv('../data/mental-and-substance-use-as-share-of-disease.csv')
disease = disease.reset_index(drop=True)
disease.head(15)

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986
5,Afghanistan,AFG,1995,1.738272
6,Afghanistan,AFG,1996,1.778098
7,Afghanistan,AFG,1997,1.781815
8,Afghanistan,AFG,1998,1.729402
9,Afghanistan,AFG,1999,1.850988
10,Afghanistan,AFG,2000,1.893882
11,Afghanistan,AFG,2001,1.963984
12,Afghanistan,AFG,2002,2.090646
13,Afghanistan,AFG,2003,2.240707
14,Afghanistan,AFG,2004,2.360176