In [1]:
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd
import seaborn as sns
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
happiness = pd.read_csv('../data/world-happiness-report-2021.csv')
happiness = happiness.reset_index(drop=True)
happiness.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [3]:
depression = pd.read_csv('../data/share-with-depression.csv')
depression = depression.reset_index(drop=True)
depression.head(15)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,5.125291
1,Afghanistan,AFG,1991,5.116306
2,Afghanistan,AFG,1992,5.106558
3,Afghanistan,AFG,1993,5.100328
4,Afghanistan,AFG,1994,5.099424
5,Afghanistan,AFG,1995,5.098495
6,Afghanistan,AFG,1996,5.100580
7,Afghanistan,AFG,1997,5.105474
8,Afghanistan,AFG,1998,5.113707
9,Afghanistan,AFG,1999,5.120480
10,Afghanistan,AFG,2000,5.124827
11,Afghanistan,AFG,2001,5.121707
12,Afghanistan,AFG,2002,5.115216
13,Afghanistan,AFG,2003,5.106108
14,Afghanistan,AFG,2004,5.101325

In [5]:
prevdep = pd.read_csv('../data/prevalence-of-depression-males-vs-females.csv')
prevdep = prevdep.reset_index(drop=True)
prevdep.head(15)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN
5,Afghanistan,AFG,1994,4.306053,5.843623,17075728.0,NaN
6,Afghanistan,AFG,1995,4.307069,5.843231,18110662.0,NaN
7,Afghanistan,AFG,1996,4.309518,5.846326,18853444.0,NaN
8,Afghanistan,AFG,1997,4.313820,5.851590,19357126.0,NaN
9,Afghanistan,AFG,1998,4.318713,5.859476,19737770.0,NaN
10,Afghanistan,AFG,1999,4.320813,5.865884,20170847.0,NaN
11,Afghanistan,AFG,2000,4.323996,5.868994,20779957.0,NaN
12,Afghanistan,AFG,2001,4.324070,5.865986,21606992.0,NaN
13,Afghanistan,AFG,2002,4.325468,5.859884,22600774.0,NaN
14,Afghanistan,AFG,2003,4.324686,5.848194,23680871.0,NaN

In [6]:
prevdep.rename(columns={'Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)': 'prevalence of DD by male', 'Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)': 'prevalence of DD by female'}, inplace=True)

In [7]:
feelings = pd.concat([happiness, depression, prevdep])
feelings.head(15)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Explained by: Perceptions of corruption,Dystopia + residual,Entity,Code,Year,prevalence of DD by sex/age in percent,prevalence of DD by male,prevalence of DD by female,Population (historical estimates),Continent
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,...,0.481,3.253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,...,0.485,2.868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,...,0.413,2.839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,...,0.170,2.967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,...,0.384,2.798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,...,0.427,2.580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,...,0.448,2.683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,...,0.353,2.653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.400,0.929,...,0.445,2.612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.300,0.908,...,0.292,2.784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Australia,North America and ANZ,7.183,0.041,7.265,7.102,10.796,0.940,73.900,0.914,...,0.317,2.598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Israel,Middle East and North Africa,7.157,0.034,7.224,7.090,10.575,0.939,73.503,0.800,...,0.119,3.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Germany,Western Europe,7.155,0.040,7.232,7.077,10.873,0.903,72.500,0.875,...,0.306,2.824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Canada,North America and ANZ,7.103,0.042,7.185,7.021,10.776,0.926,73.800,0.915,...,0.335,2.585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ireland,Western Europe,7.085,0.040,7.164,7.006,11.342,0.947,72.400,0.879,...,0.367,2.384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#feelings.groupby(['Country name', 'Healthy life expectancy'])['Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)'].count().sort_values(ascending=False).unstack()

In [10]:
mental_df = feelings['Healthy life expectancy'].notnull()
mental_df = feelings[mental_df]
mental_df.head(15)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Explained by: Perceptions of corruption,Dystopia + residual,Entity,Code,Year,prevalence of DD by sex/age in percent,prevalence of DD by male,prevalence of DD by female,Population (historical estimates),Continent
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,...,0.481,3.253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,...,0.485,2.868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,...,0.413,2.839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,...,0.170,2.967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,...,0.384,2.798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,...,0.427,2.580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,...,0.448,2.683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,...,0.353,2.653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.400,0.929,...,0.445,2.612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.300,0.908,...,0.292,2.784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Australia,North America and ANZ,7.183,0.041,7.265,7.102,10.796,0.940,73.900,0.914,...,0.317,2.598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Israel,Middle East and North Africa,7.157,0.034,7.224,7.090,10.575,0.939,73.503,0.800,...,0.119,3.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Germany,Western Europe,7.155,0.040,7.232,7.077,10.873,0.903,72.500,0.875,...,0.306,2.824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Canada,North America and ANZ,7.103,0.042,7.185,7.021,10.776,0.926,73.800,0.915,...,0.335,2.585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ireland,Western Europe,7.085,0.040,7.164,7.006,11.342,0.947,72.400,0.879,...,0.367,2.384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
mental_df.groupby(['Social support', 'Freedom to make life choices'])['Ladder score'].count().sort_values(ascending=False).unstack()

Freedom to make life choices,0.382,0.480,0.525,0.548,0.552,0.561,0.576,0.579,0.582,0.593,...,0.934,0.935,0.940,0.945,0.946,0.949,0.955,0.959,0.960,0.970
Social support,,,,,,,,,,,,,,,,,,,,,
0.463,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
0.952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN
0.983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [12]:
substance = pd.read_csv('../data/prevalence-by-mental-and-substance-use-disorder.csv')
substance = substance.reset_index(drop=True)
substance.head(15)

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779
5,Afghanistan,AFG,1995,0.224713,0.716686,0.111129,4.780851,0.428578,5.098495,0.445422
6,Afghanistan,AFG,1996,0.223690,0.716388,0.107786,4.777272,0.426393,5.100580,0.444837
7,Afghanistan,AFG,1997,0.222424,0.716143,0.103931,4.775242,0.423720,5.105474,0.443938
8,Afghanistan,AFG,1998,0.221129,0.716139,0.100343,4.777377,0.422491,5.113707,0.442665
9,Afghanistan,AFG,1999,0.220065,0.716323,0.097946,4.782067,0.421215,5.120480,0.441428
10,Afghanistan,AFG,2000,0.219501,0.716534,0.097080,4.785518,0.421224,5.124827,0.440410
11,Afghanistan,AFG,2001,0.219364,0.716627,0.096772,4.785868,0.426006,5.121707,0.439875
12,Afghanistan,AFG,2002,0.219375,0.716727,0.097105,4.785127,0.438233,5.115216,0.439562
13,Afghanistan,AFG,2003,0.219441,0.717083,0.097354,4.788510,0.453639,5.106108,0.438900
14,Afghanistan,AFG,2004,0.219580,0.717538,0.097993,4.793161,0.469775,5.101325,0.438382

In [13]:
coverage = pd.read_csv('../data/Indicators_of_Health_Insurance_Coverage_at_the_Time_of_Interview.csv')
coverage = coverage.reset_index(drop=True)
coverage.head(15)

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
0,Uninsured at the Time of Interview,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,12.6,12.1,13.3,12.1 - 13.3,NaN,NaN
1,Uninsured at the Time of Interview,By Age,United States,18 - 24 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,17.7,14.2,21.6,14.2 - 21.6,NaN,NaN
2,Uninsured at the Time of Interview,By Age,United States,25 - 34 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,16.8,15.6,18.1,15.6 - 18.1,NaN,NaN
3,Uninsured at the Time of Interview,By Age,United States,35 - 44 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,12.1,10.7,13.6,10.7 - 13.6,NaN,NaN
4,Uninsured at the Time of Interview,By Age,United States,45 - 64 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,9.5,8.8,10.2,8.8 - 10.2,NaN,NaN
5,Uninsured at the Time of Interview,By Sex,United States,Male,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,14.3,13.3,15.5,13.3 - 15.5,NaN,NaN
6,Uninsured at the Time of Interview,By Sex,United States,Female,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,11.0,10.3,11.7,10.3 - 11.7,NaN,NaN
7,Uninsured at the Time of Interview,By Race/Hispanic ethnicity,United States,Hispanic or Latino,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,20.0,17.9,22.3,17.9 - 22.3,NaN,NaN
8,Uninsured at the Time of Interview,By Race/Hispanic ethnicity,United States,"Non-Hispanic White, single race",1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,9.7,9.1,10.3,9.1 - 10.3,NaN,NaN
9,Uninsured at the Time of Interview,By Race/Hispanic ethnicity,United States,"Non-Hispanic Black, single race",1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,16.6,14.4,19.0,14.4 - 19.0,NaN,NaN
10,Uninsured at the Time of Interview,By Race/Hispanic ethnicity,United States,"Non-Hispanic Asian, single race",1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,11.5,8.3,15.4,8.3 - 15.4,NaN,NaN
11,Uninsured at the Time of Interview,By Race/Hispanic ethnicity,United States,"Non-Hispanic, other races and multiple races",1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,12.5,9.6,15.9,9.6 - 15.9,NaN,NaN
12,Uninsured at the Time of Interview,By Education,United States,Less than a high school diploma,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.6,20.2,27.3,20.2 - 27.3,NaN,NaN
13,Uninsured at the Time of Interview,By Education,United States,High school diploma or GED,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,18.8,17.4,20.4,17.4 - 20.4,NaN,NaN
14,Uninsured at the Time of Interview,By Education,United States,Some college/Associate's degree,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,12.2,11.3,13.2,11.3 - 13.2,NaN,NaN

i = open('../data/metadata.json')
insurance_json = json.load(i)
insurance = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in insurance_json.items()]))
insurance = pd.melt(insurance)
insurance = insurance.dropna()
insurance = insurance.reset_index(drop=True)
insurance.columns = ['Civilian Noninstitutionalized Population', 'Health Insurance Coverage Status by Sex by Age']
insurance.head(20)

In [24]:
acs = pd.read_csv('../data/acs2020_5yr_B27001_04000US49.csv')
acs = acs.reset_index(drop=True)
acs.head(15)

,geoid,name,B27001001,"B27001001, Error",B27001002,"B27001002, Error",B27001003,"B27001003, Error",B27001004,"B27001004, Error",...,B27001053,"B27001053, Error",B27001054,"B27001054, Error",B27001055,"B27001055, Error",B27001056,"B27001056, Error",B27001057,"B27001057, Error"
0,04000US01,Alabama,4813429,1038,2308240,1558,178400,1347,173433,1543,...,261227,621,1053,285,192471,615,191925,631,546,186
1,04000US02,Alaska,711104,874,363027,934,31600,457,28716,615,...,28200,316,320,140,14651,296,14598,295,53,30
2,04000US04,Arizona,7065326,1073,3473941,1508,262548,1831,243263,2100,...,382581,946,4172,915,287481,434,285492,677,1989,523
3,04000US05,Arkansas,2957271,617,1441147,1353,115758,1185,111028,1337,...,156162,585,731,236,115799,694,115464,704,335,150
4,04000US06,California,38838726,2943,19165001,3697,1472215,3581,1436130,3907,...,1713025,1465,22448,1101,1341470,1186,1331592,1490,9878,884
5,04000US08,Colorado,5588760,1549,2787177,1739,202913,1544,195398,1793,...,257795,612,2048,400,169034,530,168131,593,903,241
6,04000US09,Connecticut,3520172,636,1708680,808,111967,1195,108952,1217,...,181585,567,1425,398,151075,538,150394,584,681,187
7,04000US10,Delaware,951930,591,455999,558,33233,713,31886,794,...,57860,211,247,126,40171,199,39940,246,231,96
8,04000US11,District of Columbia,692059,308,325614,417,27155,636,26769,624,...,27416,164,284,141,21816,211,21766,218,50,52
9,04000US12,Florida,20897188,2259,10131676,2815,688857,3093,653602,3360,...,1260393,1721,20078,1599,1064169,1088,1054742,1421,9427,972
10,04000US13,Georgia,10321846,1943,4958884,3036,398479,3006,375792,3380,...,481160,1035,4379,594,319801,924,317655,1012,2146,421
11,04000US15,Hawaii,1365172,1146,667378,1095,54159,679,53134,730,...,75757,238,339,108,63863,248,63645,259,218,82
12,04000US16,Idaho,1732106,482,863418,1051,70811,1085,67537,1184,...,85355,437,432,169,58211,463,58016,468,195,90
13,04000US17,Illinois,12536614,809,6127679,1869,461033,2135,448557,2287,...,598459,1143,7007,746,474078,1104,471220,1107,2858,448
14,04000US18,Indiana,6597701,479,3235837,1430,257044,1662,242433,1796,...,321162,866,1891,344,241285,923,240355,920,930,245